

{% extends 'base.html.twig' %}

{% block body %}

    {{ include('_navbar.html.twig') }}

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url({{ asset('img/bg-img/breadcumb3.jpg') }});">
        <div class="bradcumbContent">
            <p>Add new Event</p>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Events Area Start ##### -->
    <section class="events-area section-padding-100">
        <div class="container">
            <div class="row">

                {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_widget(form) }}
                <button class="btn">{{ button_label|default('Save') }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
    <!-- ##### Events Area End ##### -->


{% endblock %}


