

{% extends 'back/back.base.html.twig' %}



{% block body %}




    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Events List</h1>
        <p class="mb-4">Events List For Prodcaster</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Events List</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Event Name</th>
                            <th>Event Description</th>
                            <th>Event Type</th>
                            <th>Event Location</th>
                            <th>Event date</th>
                            <th>Paid</th>
                            <th>Price</th>
                            <th>Picture</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for event in events %}
                            <tr>
                                <td>{{ event.name }}</td>
                                <td>{{ event.description }}</td>
                                <td>{{ event.type }}</td>
                                <td>{{ event.location }}</td>
                                <td>{{ event.date|date('d/m/y') }}</td>
                                {% if event.payant %}
                                    <td>Yes</td>
                                    {% else %}
                                    <td>No</td>
                                {% endif %}
                                {% if event.payant %}
                                    <td>{{ event.prix }} DT</td>
                                {% else %}
                                    <td>Free</td>
                                {% endif %}
                                <td> <img width="20%" height="20%" src="{{ asset('uploads/'~event.Image) }}" alt=""></td>

                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->



{% endblock %}