{% extends 'base.html.twig' %}

{% block title %}Input your token{% endblock %}

{% block body %}
  {{ include('_navbar.html.twig') }}

  <section class="breadcumb-area bg-img bg-overlay" style="background-image: url({{ asset('img/bg-img/breadcumb.jpg')}});">
    <div class="bradcumbContent">
      <h2>Input your token</h2>
    </div>
  </section>
  
  <section class="login-area section-padding-100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
	  {% for label, messages in app.flashes(['danger', 'success']) %}
	    {% for message in messages %}
	      <div class="alert alert-{{ label }}">
		{{ message }}
	      </div>
	    {% endfor %}
	  {% endfor %}
	  
          <div class="login-content">
            <div class="login-form">
              {{ form_start(form) }}
                <div class="form-group">
		  {{ form_label(form.password.first)}}
		  {{ form_widget(form.password.first)}}
                </div>
	        <div class="form-group">
		  {{ form_label(form.password.second)}}
		  {{ form_widget(form.password.second)}}
                </div>
		{{ form_widget(form.confirm) }}
              {{ form_end(form) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
{% endblock %}
