{% extends 'user/base.html.twig' %}

{% block title %} {{app.user.username}}'s security details {% endblock %}
{% block tab_title %} Security {% endblock %}
{% block tab_description %} You can reset your security credentials here. {% endblock %}

{% block content %}

  <section class="login-area section-padding-100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
	  {% for label, messages in app.flashes(['danger', 'success']) %}
	    {% for message in messages %}
	      <div class="alert alert-{{ label }}">
		{{ message }}
	      </div>
	    {% endfor %}
	  {% endfor %}
	  
          <div class="login-content">
            <div class="login-form">
              <form method="post">
                <div class="form-group">
		  {{ form_label(form.password)}}
		  {{ form_widget(form.password)}}
                </div>
		<div class="form-group">
	          {{ form_label(form.newPassword.first) }}
	          {{ form_widget(form.newPassword.first) }}
                </div>
		<div class="form-group">
		  {{ form_label(form.newPassword.second) }}
	          {{ form_widget(form.newPassword.second) }}
		</div>
		{{ form_widget(form.confirm) }}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
