{% extends 'base.html.twig' %}

{% block body %}
{{ include('_navbar.html.twig') }}
  <section class="breadcumb-area bg-img bg-overlay" style="background-image: url({{ asset ('img/bg-img/breadcumb3.jpg')}});">
        <div class="bradcumbContent">
            <h2>My orders list</h2>
        </div>
    </section>
 
 <!-- ##### Events Area Start ##### -->
    <section class="events-area section-padding-100">
       <!-- ##### Events Area Start ##### -->
     <div class="one-music-songs-area mb-70">
        <div class="container">
            <div class="row">

                <!-- Single Song Area -->
                {% for order in orders %}
                <div class="col-12">
                    <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                        <div class="song-thumbnail">
                            <img src="{{ asset('img/ofs-img/'~order.offer.image) }}" alt="">
                        </div>
                        <div class="song-play-area">
                            <div class="song-name">
                                <p>Plan: {{order.plan}} month(s) | Total : ${{order.total}} </p>
                                <p>Order date : {{order.orderdate}}</p>
                                {% if order.status == "Pending"%}
                                <a href="{{path("checkout", {'order': order.id})}}"><p style="color:Tomato;">Status : {{order.status}} </p></a>
                                {% else %}
                                <p>Status : {{order.status}} </p>
                                {% endif %}
                            </div>
                            
                        </div>
                    </div>
                </div>
                 {%endfor%}

            

            </div>
        </div>
    </div>
    <!-- ##### Song Area End ##### -->
    </section>
    <!-- ##### Events Area End ##### -->



{% endblock %}
