
{{ form_start(form) }}
<section class="login-area section-padding-50">
 <div class="container d-flex justify-content-left mt-100 mb-100">
		<div class="row">
			<div class="col-12" style="width: 50rem;">
				<div class="card">
					<div class="card-body">

{{ form_widget(form.message,{'attr':{'placeholder':'Leave Comment','class':'form-control','rows':'2'}}) }}
<button  class="btn btn-primary btn-block">{{ button_label|default('Post') }}</button>
<a href="{{ path('reco_single',{'id': reco.id}) }}"></a>
{{ form_widget(form) }}
</div>
</div>
</div>
</section>
{{ form_end(form) }}



