{% extends 'base.html.twig' %}

{% block body %}

{{ include('_navbar.html.twig') }}

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url({{ asset('img/bg-img/breadcumb3.jpg') }});">
        <div class="bradcumbContent">
            <p>See what’s new</p>
            <h2>Articles</h2>
        </div>
    </section>



{% comment %} {{form_start(f)}}



{{form_end(f)}} {% endcomment %}



{{ include('_navbar.html.twig') }}
